<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>" I am at Profile page"</title>
</head>
<body>
<form>
    <input type="text" name="first_name" placeholder="first name..">
    <input type="text" name="last_name" placeholder="lastname..">
        male: <input type="radio" name="gender" value="male">
        female: <input type="radio" name="gender" value="female">
        others: <input type="radio" name="gender" value="others">
    <button type="submit" name="submit">submit</button>


</form>
</body>
</html>