<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>emplyee_login</title>
</head>
<style>
  form {
    width: auto;
    height: auto;
}
 .mydiv {
   text-align: center;
 }


</style>
<body>
<form>
    <div class="mydiv">

        <h1>Login</h1>



        <h2>First name <input type="text" name="Your First Name" placeholder=" Your first name"></h2>
        <h2>Password <input type="password" name="Password" placeholder="Password"></h2>
        <h2>Gender <select name="Gender">
            <option value="">select the gender</option>
            <option value="male">male</option>
            <option value="female">female</option>
            <option value="others">others</option>
            </select>
        </h2>


        <h2>

        <button type="submit" name="submit">submit</button></h2>
    </div>


</form>

</body>
</html>
